$bar-color-dark: #616161 !default;
$bar-stroke-dark: #c6ccd2 !default;
$border-color-dark: #616161 !default;
$light-bg-dark: #3e3e3e !default;
$light-border-color-dark: #3e3e3e !default;
$text-muted-dark: #eee !default;
$text-light-dark: #ececec !default;
$text-color-dark: #f7f7f7 !default;
$blue-dark: #8a8aff !default;
$yellow-dark: #f1c40f4d !default;

.dark > .gantt-container .gantt {
    & .grid-row {
        fill: #252525;
    }
    & .alt-row {
        fill: #252525;
    }
    .alt-row:nth-child(even) {
        fill: $light-bg-dark;
    }
    .today-highlight {
        fill: $yellow-dark;
        opacity: 0.5;
    }

    & .row-line {
        stroke: $light-border-color-dark;
    }

    & .tick {
        stroke: $border-color-dark;
    }

    & .holiday-highlight {
        fill: $light-bg-dark;
    }

    & .arrow {
        stroke: $text-muted-dark;
    }

    & .bar {
        fill: $bar-color-dark;
        stroke: none;
    }

    & .bar-progress {
        fill: $blue-dark;
    }

    & .bar-invalid {
        fill: transparent;
        stroke: $bar-stroke-dark;

        & ~ .bar-label {
            fill: $text-light-dark;
        }
    }

    & .bar-label.big {
        fill: $text-light-dark;
    }

    & .bar-wrapper {
        &:hover {
            .bar {
                fill: lighten($bar-color-dark, 5);
            }

            & .bar-progress {
                fill: lighten($blue-dark, 5);
            }
        }

        &.active {
            .bar {
                fill: lighten($bar-color-dark, 5);
            }

            & .bar-progress {
                fill: lighten($blue-dark, 5);
            }
        }
    }
    & .row-text {
        fill: $text-color-dark;
    }

    & .upper-text {
        fill: $text-light-dark;
    }

    & .lower-text {
        fill: $text-color-dark;
    }
}

.dark > .gantt-container {
    & .grid-header {
        fill: #252525;
    }

    & .gantt-splitter {
        width: 0;
        cursor: col-resize;
        position: relative;
        user-select: none;
        border: $blue-dark 1px solid;
        transform: translateX(-1px);
        z-index: 1;
    }

    & .popup-wrapper {
        background-color: #333;

        & .title {
            border-color: lighten($blue-dark, 5);
        }

        & .pointer {
            border-top-color: #333;
        }
    }
}
