$bar-color-dark: #616161 !default;
$bar-stroke-dark: #c6ccd2 !default;
$border-color-dark: #616161 !default;
$light-bg-dark: #3e3e3e !default;
$light-border-color-dark: #3e3e3e !default;
$text-muted-dark: #eee !default;
$text-light-dark: #ececec !default;
$text-color-dark: #f7f7f7 !default;
$blue-dark: #8a8aff !default;

.dark > .gantt-container .gantt {
  & .grid-row {
    fill: #252525;
  }

  /* & .grid-row:nth-child(even) {
      fill: $light-bg-dark;
  } */

  & .row-line {
    stroke: $light-border-color-dark;
  }

  & .tick {
    stroke: $border-color-dark;
  }

  & .holiday-highlight {
    fill: $light-bg-dark;
  }

  & .arrow {
    stroke: $text-muted-dark;
  }

  & .bar {
    fill: $bar-color-dark;
    stroke: none;
  }

  & .bar-progress {
    fill: $blue-dark;
  }

  & .bar-invalid {
    fill: transparent;
    stroke: $bar-stroke-dark;

    & ~ .bar-label {
      fill: $text-light-dark;
    }
  }

  & .bar-label.big {
    fill: $text-light-dark;
  }

  & .bar-wrapper {
    &:hover {
      .bar {
        fill: lighten($bar-color-dark, 5);
      }

      & .bar-progress {
        fill: lighten($blue-dark, 5);
      }
    }

    &.active {
      .bar {
        fill: lighten($bar-color-dark, 5);
      }

      & .bar-progress {
        fill: lighten($blue-dark, 5);
      }
    }
  }
}

.dark > .gantt-container {
  & .grid-header {
    background-color: #252525;
  }

  & .popup-wrapper {
    background-color: #333;

    & .title {
      border-color: lighten($blue-dark, 5);
    }

    & .pointer {
      border-top-color: #333;
    }
  }
}